<!-- https://pythonhow.com/python-tutorial/flask/Adding-CSS-styling-to-your-website/ -->
<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>7327 Project CST 205 Project</title>
      <!-- Style -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
  </head>

  <body>
    <header>
      <!-- Logo container -->
      <div class="container">
        <h1 class="logo">The Stormy Fit</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('page2func') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>


    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="container">
      
      <h1>Welcome to the home page</h1>
      
    </div>
  </body>
  <body>
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <h6>Header 6</h6>
  </body>
  


  <!-- Bottom of page -->
  <br></br>
  <div class="creators">
    <hr></hr>
  </div>
  <div class="container">
    <h6>The authors of this application are Brian Palomar, Nick Mederos, Vince Valencia.</h6>
  </div>
</html>