<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {{ bootstrap.load_css() }}
      <title>7327 Project CST 205 Project</title>
  </head>
<body>
    <div class="container">
      <br><br>

      <h1>The start of the Project</h1>

      <!-- <br>

      Unique url
      <a href="{{ url_for('page2func', image_id=im1_id) }}">
        {{im1}}
        <br>
        CLickable pictures
        <img src="/static/images/hw3_images/{{im1_id}}.jpg" width="250"
        class="img-fluid rounded" alt="{{im1_id}}"/>
      </a>
      <br><br>

      Unique url
      <a href="{{ url_for('page3func', image_id=im2_id) }}">
        {{im2}}
        <br>
        Clickable Pictures
        <img src="/static/images/hw3_images/{{im2_id}}.jpg" width="250"
        class="img-fluid rounded" alt="{{im2_id}}"/>
      </a>
      <br><br>

      Unique url
      <a href="{{ url_for('page4func', image_id=im3_id) }}">
        {{im3}}
        <br>
        Clickable Pictures
        <img src="/static/images/hw3_images/{{im3_id}}.jpg" width="250"
          class="img-fluid rounded" alt="{{im3_id}}"/>
      </a>
      <br><br>

      <p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" class="rounded w-50">
      </p> --> 

      <br>
    </div>
</body>

</html>