<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {{ bootstrap.load_css() }}

      <title>7327 Project CST 205 Project</title>
  </head>
<body>
    <div class="container">
      <br><br>
      <!-- Picture name by picture author -->
      <h1>{{im1}} by {{im1_user}}</h1>
      <br>
      <p>
        <!-- Picture -->
        <img src="/static/images/hw3_images/{{im1_id}}.jpg" width="640" height="427"
        class="img-fluid rounded" alt="{{im1_id}}"/>
      </p>
      <p>
          RGB image in JPEG format with width 640 and height 427
      </p>

      <!-- Url back to home -->
      <a href="{{ url_for('home') }}">
        Back to list of images
      </a>
      <br>
    </div>
</body>

</html>